xmlout/pojo.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://phei.com/netty/xml/pojo" elementFormDefault="qualified" targetNamespace="http://phei.com/netty/xml/pojo">
  <xs:element type="tns:customer" name="customer"/>
  <xs:complexType name="customer">
    <xs:sequence>
      <xs:element type="xs:string" name="firstName" minOccurs="0"/>
      <xs:element type="xs:string" name="lastName" minOccurs="0"/>
      <xs:element type="xs:string" name="middleName" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute type="xs:long" name="customerNumber"/>
  </xs:complexType>
</xs:schema>